{% extends '/main/base.html' %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="flex-grow-1 p-4">
    <div class="card mb-4">
        <div class="card-header bg-dark text-light mb-3"><h1>Топ продаж</h1></div>
         <div class="d-flex gap-3 justify-content-center mb-4">
             {% for book in top_book %}
             <div class="card book border-0" style="width: 16rem;">
                 <div class="pointer d-flex flex-column gap-3" onclick="window.location.href='{{ url_for('main.book', book_id=book.id) }}'">
                     <img src="{{ url_for('static', filename=book.book_cover) }}" class="card-img-top" alt="книга">
                     <div class="card-body text-center">
                         <p class="text-start">{{ book.price }} ₽</p>
                         <h6 class="card-title">{{ book.title }}</h6>
                     </div>
                 </div>
                 <button class="btn btn-sm btn-primary add-to-cart" data-id="{{ book.id }}">В корзину</button>
             </div>
            {% endfor %}
        </div>
    </div>
    {% for item in sections_with_books %}
    <div class="card mb-4">
        <a href="{{ url_for('main.section_book', section_id=item.section.id) }}" class="link-dark link-underline-opacity-0 ">
            <div class="card-header bg-dark text-light">
                <h2>{{ item.section.name }}</h2>
            </div>
        </a>
        <div class="card-body">
            <div id="carousel-{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% set books = item.books %}
                    {% for i in range(0, books|length, 5) %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="d-flex gap-3 justify-content-center">
                            {% for book in books[i:i+5] %}
                            <div class="card book border-0" style="width: 12rem;">
                                <div class="pointer d-flex flex-column gap-3" onclick="window.location.href='{{ url_for('main.book', book_id=book.id) }}'">
                                    <img src="{{ url_for('static', filename=book.book_cover) }}" class="card-img-top" alt="книга">
                                    <div class="card-body text-center">
                                        <p class="text-start">{{ book.price }} ₽</p>
                                        <h6 class="card-title">{{ book.title }}</h6>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-primary add-to-cart" data-id="{{ book.id }}">В корзину</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ loop.index }}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ loop.index }}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}



