<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Flask App {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
</head>
<header class="header">{% include 'main/header.html' %}</header>
<body class="bg-light">
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4 w-50 mw-30">
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/libs/bootstrap.bundle.min.js') }}" ></script>
{% endblock %}
</body>
</html>