{% extends 'main/base.html' %}

{% block title %} Войти {% endblock %}

{% block catalog %}{% endblock%}

{% block content %}
    <div class="container col-5 card p-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-3">
        <div class="card-header">
            <h2 class="text-center mb-4">Войти</h2>
        </div>
        <form method="POST" action="{{ url_for('user.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3 col-12 p-2">
                {{ form.email.label() }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-floating mb-3 col-12 p-2">
                {{ form.password.label() }}
                {{ form.password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        <p class="text-center mt-3">
            Еще не зарегистрировались? <a href="{{ url_for('user.register') }}">Регистрация</a>
        </p>
    </div>
{% endblock %}