@font-face {
    font-family: 'Font';
    src: url('{{ url_for('static', filename='fonts/Jost-Italic-VariableFont_wght.ttf') }}') format('woff2'),
         url('{{ url_for('static', filename='fonts/Jost-VariableFont_wght.ttf') }}') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Font'
}

.catalog-title {
    font-size: 26px;
    font-weight: 600;
}

.section-catalog {
    font-size: 20px;
    font-weight: 600;
}

.genre-catalog {
    font-size: 18px;
    font-weight: 400;
}

.genre-all {
    font-size: 19px;
    font-weight: 500;
}

.catalog-list {

}

.header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 997;
    height: 50px;
    background-color: black;
    color: white;
}

.header-div {
    font-size: 20px;
}

header .btn {
    font-size: 18px;
}

#search {
    background-color: lightgray;
}

.page {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 150px auto 80px 30px;
}


.card.book {
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

}

.card.book img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.card.book .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-body.d-flex {
  align-items: stretch;
}


body {
    background-color: rgba(181, 181, 181, 0.27);;
}

.content {
    flex: 1;
    padding: 2rem;
}
footer {
    background: #fff;
    border-top: 1px solid #dee2e6;
    padding: 1rem;

}

.catalog {
    max-width: 370px;
    width: 100%;
}

.link-city {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 0px;
}

.link-map {
    color: #eee;
    font-size: 12px;
    position: absolute;
    top: 14px;
}

.pointer {
    cursor: pointer;
}

.book-img-main {
    max-width: 300px;
    width: 100%;
}

.book-title {
   font-size: 34px;
}

.book-info-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    overflow: visible;
    margin: 0;
}

.review-block {
    font-size: 20px;
}

.properties {
    font-size: 18px;
    font-weight: 300;
}

.column-name {
    font-size: 17px;
    color: rgb(86, 86, 86);
}

.description-text {
    font-size: 18px;
    color: rgb(86, 86, 86);
}

.add-review {
    font-size: 17px;
}

.delete-review {
    font-size: 14px;
}

.review {
    background-color: rgba(181, 181, 181, 0.15);
}

td.book-title {
    font-size: 16px;
}

.right-block {
    position: sticky;
    top: 100px;
    align-self: flex-start;
    height: auto;
}


.right-block .info {
    position: static;
    gap: 50px;
    padding: 25px;
}

.row-total {
    font-size: 20px;
    font-weight: 600;
}

.book-title {
    font-size: 24px;
}

.summary-amount{
    font-size: 20px;
}

.block-info {
    background-color: white;
    padding: 20px;
}


.book-info-wrapper .price { font-size: 30px; }



.star {
    font-size: 2rem;
    cursor: pointer;
    color: lightgray;
}
.star.active {
    color: gold;
}

.star-container {
      flex: 0 0 auto;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3.5em;
      height: 3.5em;
      color: gold;
      margin-right: 15px;
}
.star-rate{
    line-height: 1;
    font-size: 4em;
}
.number {
    position: absolute;
    font-size: 1.2em;
    color: rgb(71, 71, 71);
    font-weight: bold;
    pointer-events: none;
}

.book-rating {
    font-size: 22px;
    font-weight: 600;
}



